#root {
  width: 100%;
  /* margin: 0 auto; */
  padding: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem
}

.left,
.right {
  height: 78vh;
  width: 100%;
}